html {
  height: 100%;
}

body {
  background: rgba(45,121,196,1);
  background: -moz-linear-gradient(top, rgba(45,121,196,1) 0%, rgba(63,170,223,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(45,121,196,1)), color-stop(100%, rgba(63,170,223,1)));
  background: -webkit-linear-gradient(top, rgba(45,121,196,1) 0%, rgba(63,170,223,1) 100%);
  background: -o-linear-gradient(top, rgba(45,121,196,1) 0%, rgba(63,170,223,1) 100%);
  background: -ms-linear-gradient(top, rgba(45,121,196,1) 0%, rgba(63,170,223,1) 100%);
  background: linear-gradient(to bottom, rgba(45,121,196,1) 0%, rgba(63,170,223,1) 100%);
  color: #fff;
}

.main-section {
  // position: relative;
}

.timer-container {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 360px;
}

h1 {
  font-size: 60px;

}

.clock button{
  font-size: 20px;
  margin-left:10px;
  margin-right:10px;
}

.clock{
  font-size:80px;
  margin-bottom: 30px;
}

#message {
  font-size:40px;
}
button {
  background-color: none;
  border: none;
  background: none;se
}
.btn-custom {
  background-color: #213F61;
  border-color: #cdcdcd;
  color: #CACACA;
}

.btn-custom:hover {
  background-color: #213F61;
  border-color: #cdcdcd;
  color: #FFFFFF;
}
