html {
  height: 100%; }

body {
  background: #2d79c4;
  background: -moz-linear-gradient(top, #2d79c4 0%, #3faadf 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #2d79c4), color-stop(100%, #3faadf));
  background: -webkit-linear-gradient(top, #2d79c4 0%, #3faadf 100%);
  background: -o-linear-gradient(top, #2d79c4 0%, #3faadf 100%);
  background: -ms-linear-gradient(top, #2d79c4 0%, #3faadf 100%);
  background: linear-gradient(to bottom, #2d79c4 0%, #3faadf 100%);
  color: #fff; }

.timer-container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 360px; }

h1 {
  font-size: 60px; }

.clock button {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px; }

.clock {
  font-size: 80px;
  margin-bottom: 30px; }

#message {
  font-size: 40px; }

.btn-custom {
  background-color: #213F61;
  border-color: #cdcdcd;
  color: #CACACA; }

.btn-custom:hover {
  background-color: #213F61;
  border-color: #cdcdcd;
  color: #FFFFFF; }
